{{define "forget_password_html"}}
<!DOCTYPE html>
{{template "head_html" .}}

<body class="hold-transition register-page">
  <div class="register-box">
    <div class="register-logo">
      <a href="/"><b>{{.appName}}</b></a>
    </div>
  
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Forgotten your password?</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" id="forget-password-form" action="/forgetpassword" method="POST">
              <div class="card-body">
                <div class="form-group">
                  
                  <p>Enter your email to reset your password:</p>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
              </div>
            </form>
        </div>
        <small class="col-md-12 text-center">Remember your password? Click <a href="/login">here</a> to login now.</small>      
    </div><!-- /.col-md-6 -->
  </div>
  <!-- /.register-box -->
  {{template "flash_html" .}}
</body>  
<!-- Javascript -->
<script type="text/javascript" src="/assets/js/auth/custom.forget_password.js"></script>

</html>
{{end}}