{{define "edit_profile_html"}}
<!DOCTYPE html>
{{template "head_html" .}}

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    {{ template "navbar_html" .}}
  
    {{ template "aside_html" .}}
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <h1>{{.title}}</h1>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item active"><a class="nav-link" href="#profile" data-toggle="tab">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="#pictures" data-toggle="tab">Picture</a></li>
                    <li class="nav-item"><a class="nav-link" href="#password" data-toggle="tab">Password</a></li>
                  </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                  <div class="tab-content">                    
                    <div class="tab-pane active" id="profile">
                      <form class="form-horizontal" id="edit-profile-form" action="/dashboard/profile/edit" method="post">
                        <div class="form-group">
                          <label for="inputName" class="col-sm-2 control-label">Name</label>
  
                          <div class="col-sm-10">
                            <input type="text" name="name" class="form-control" id="inputName" placeholder="Name" value="{{ .user.name }}">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputBio" class="col-sm-2 control-label">Bio</label>
  
                          <div class="col-sm-10">
                            <textarea name="bio" class="form-control" id="inputBio" placeholder="Tell us more about yourself...">{{ .user.bio }}</textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="password">
                      <form class="form-horizontal" id="edit-password-form" action="/dashboard/profile/edit/password" method="post">
                        <div class="form-group">
                          <label for="inputPassword" class="col-sm-2 control-label">Password</label>
  
                          <div class="col-sm-10">
                            <input type="password" name="password" class="form-control" id="password_input" placeholder="Password">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputRetypePassword" class="col-sm-2 control-label">Retype Password</label>
  
                          <div class="col-sm-10">
                            <input type="password" name="retype_password" class="form-control" id="inputRetypePassword" placeholder="Retype Password">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </form>
                    </div><!-- /.tab-pane -->
                  </div>
                  <!-- /.tab-content -->
                </div><!-- /.card-body -->
              </div>
              <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {{ template "footer_html" .}}
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  {{template "flash_html" .}}
</body>

<!-- Javascript -->
<script type="text/javascript" src="/assets/js/profile/custom.profile.js"></script>
</html>
{{end}}