{{define "flash_html"}}
<div class="flash-container">
    {{with $err := .errors}}
    {{range $err}}
    <div class="flash-message" data-type="error" data-timeout="5000">{{.}}</div>
    {{end}}
    {{end}}

    {{with $succ := .success}}
    {{range $succ}}
    <div class="flash-message" data-type="success" data-timeout="5000">{{.}}</div>
    {{end}}
    {{end}}

    {{with $warning := .warnings}}
    {{range $warning}}
    <div class="flash-message" data-type="warning" data-timeout="5000">{{.}}</div>
    {{end}}
    {{end}}
</div>

<div class="loading hidden">
  <div class="uil-ring-css" style="transform:scale(0.79);">
    <div></div>
  </div>
</div>
{{end}}